{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <!-- css connecting -->
    <link rel="stylesheet" type="text/css" href="{% static "/css/main.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <ul>
        <li><a href="/projects">Проекты</a></li>
        <li><a href="/testcases">Тест кейсы</a></li>
        <li><a href="/testsets">Тестовые наборы</a></li>
        <li><a href="/bugreports">Баг репорты</a></li>
        <li>
                <div class="dropdown">
                <button class="active dropbtn">{{ user.username }}</button>
                <div class="dropdown-content">
                    <a href="/logout">Выйти</a>
                    <a href="/change-password">Поменять пароль</a>
                </div>
            </div>
        </li>
    </ul>
    
    <table class="projectlist" border="0" cellpading="8" cellspacing="3">
        <thead>
            <td>ID</td>
            <td style="width: 450px;">Название</td>
            <td style="width: 450px;">Описание</td>
            <td>Действия</td>
        </thead>
        {% for project in projects %}
        <thead>
            <td>{{ project.project_id }}</td>
            <td>{{ project.project_name }}</td>
            <td>{{ project.description }}</td>
            <td class="createproj" data-menu-target="project-menu">...</td>
        </thead>
        {% endfor %}

    <a class="createproj" href="/projects/new">Создать проект</a>
    
    <div id="project-menu" class="context-menu" style="display: none;">
        <ul>
          <li><a href="#">Редактировать</a></li>
          <li><a href="#">Удалить</a></li>
        </ul>
    </div>

    <!-- js connecting -->
    <script type="text/javascript" src="{% static "/js/main.js"%}"></script>
</body>
</html>


