{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <!-- css connecting -->
    <link rel="stylesheet" type="text/css" href="{% static "/css/main.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
{% block lists %}
<div>
<h1>Отметьте выбранные кейсы чекбоксами.</h1>
<form method="post">
    {% csrf_token %}
    <div>
        <table style="left:9%;"class="projectlist" border="0" cellpadding="8" cellspacing="3">
            <thead>
                <td> </td>
                <td style="width: 80px;">ID</td>
                <td style="width: 200px;">Название</td>
                <td style="width: 80px;">Приоритет</td>
                <td style="width: 100px;">Тип кейса</td>
                <td style="width: 250px;">Дата создания</td>
                <td style="width: 350px;">Автор</td>
                <td>Проект</td>
            </thead>
            {% for testcase in testcases %}
            <tbody>
                <td><input type="checkbox" class="pick" name="testcase_{{ testcase.testcase_id }}" value="{{ testcase.testcase_id }}"></td>
                <td class="clicking" onclick="location.href = '{{ testcase.testcase_id }}/edit/';" style="cursor:pointer; transition: background-color 0.3s ease;">{{ testcase.testcase_id }}</td>
                <td class="name">{{ testcase.name }}</td>
                <td>{{ testcase.priority }}</td>
                <td>{{ testcase.case_type }}</td>
                <td>{{ testcase.creation_date|date:"j M Y" }}</td>
                <td>{{ testcase.id }}</td>
                <td>{{ testcase.project }}</td>
        {% endfor %}
    </div>
    <input type="hidden" id="testset_testcases" name="testset_testcases" value="{{ testset.testcases.all|join:', ' }}">
</form>
<form id="searchForm">
    <input type="text" id="searchInput" style="margin-left:970px;"placeholder="Поиск кейса по названию...">
</form>
<div style="padding: 20px;background: #eee;z-index: 999;position: fixed;bottom: 5%;right:1%;border:2px solid #ccc;border-radius:5px;">
    <input type="submit"  value="Изменить">
    <a class="close-red" href="/testsets" > Закрыть</a>
</div>

<script>      
    const checkboxes = document.querySelectorAll('.pick');
    const hiddenInput = document.querySelector('#testset_testcases');

    function updateHiddenInput() {
        const checkedCheckboxes = document.querySelectorAll('.pick:checked');
        const values = Array.from(checkedCheckboxes).map(checkbox => checkbox.value);
        hiddenInput.value = values.join(', ');
    }

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateHiddenInput);
    });
</script>

{% endblock lists %}
</body>
</html>

