{% extends "main/index.html" %}

{% block lists %}
<style>
  label {
    display: inline-block; 
    margin-right: 10px;
  }

  input,
  select {
    margin-right: 20px;
  }
</style>
<div class="analysis" >
  <form method="get">
    <div class="form-row" style="display: flex; flex-wrap: nowrap;">
      <div class="col-sm-4">
          <div class="form-group" style="display: flex;">
              <label for="{{ form.start_runtime.id_for_label }}">{{ form.start_runtime.label }}</label>
              {{ form.start_runtime }}
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group" style="display: flex;">
              <label for="{{ form.end_runtime.id_for_label }}">{{ form.end_runtime.label }}</label>
              {{ form.end_runtime }}
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group" style="display: flex;">
              <label for="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label>
              {{ form.start_date }}
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group" style="display: flex;">
              <label for="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label>
              {{ form.end_date }}
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group" style="display: flex;">
              <label for="{{ form.report_type.id_for_label }}">{{ form.report_type.label }}</label>
              {{ form.report_type }}
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group" style="display: flex;">
              <label for="{{ form.search_criteria.id_for_label }}">{{ form.search_criteria.label }}</label>
              {{ form.search_criteria }}
          </div>
      </div>
    </div>

    <div class="btn-rep" style="margin-top:50px; margin-left:0; margin-right:0; display: flex; justify-content: center;">
      <button type="submit" id="generateReport" style="margin-right:50px;">Просмотреть отчет на странице</button>
      <button type="submit" name="download_pdf">Скачать отчет в формате PDF</button>
    </div>
  </form>

  {% if data %}
  <table class="analysis-tab projectlist" border="0" cellpadding="8" cellspacing="3" style="margin-top:100px;margin-left:50px;">
    <thead>
      <tr>
        <td></td>
        <td>ID</td>
        <td style="width:200px;">Название</td>
        <td>Приоритет</td>
        <td>Статус</td>
        <td id="date-obj">Дата прохождения</td>
        <td>Автор</td>
        <td>Проект</td>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <td></td>
        <td style="width: 50px;">{{ item.bug_id }} {{ item.testcase_id }}</td>
        <td style="width: 250px;">{{ item.name }}</td>
        <td style="width: 250px;">{{ item.priority }}</td>
        <td style="width: 250px;">{{ item.status }} {{ item.case_status }}</td>
        <td style="width: 350px;">{{ item.creation_date|date:"j M Y" }}</td>
        <td>{{ item.author }} {{ item.id }}</td>
        <td>{{ item.project }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="results" style="text-align: center;">Результатов не найдено или вы не применили фильтр...</p>
  {% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const runtimeElements = ['id_start_runtime', 'id_end_runtime'];
    const timeElements = ['id_start_date', 'id_end_date'];
    const searchElements = ['id_search_criteria'];
    const labelElements = document.querySelectorAll('label[for]');
    const reportTypeSelect = document.getElementById('id_report_type');
    const dateHeader = document.getElementById('date-obj');

    labelElements.forEach(label => {
      if (runtimeElements.includes(label.htmlFor) || timeElements.includes(label.htmlFor) || searchElements.includes(label.htmlFor)) {
        label.style.display = 'none';
      }
    });

    [runtimeElements, timeElements].forEach(elements => {
      elements.forEach(elementId => {
        const element = document.getElementById(elementId);
        element.style.display = 'none';
      });
    });

    if (reportTypeSelect.value === 'testcases') {
      [runtimeElements, searchElements].forEach(elements => {
        elements.forEach(elementId => {
          const element = document.getElementById(elementId);
          const label = document.querySelector(`label[for="${elementId}"]`);
          element.style.display = 'block';
          label.style.display = 'block';
        });
      });
    } else {
      timeElements.forEach(elementId => {
        const element = document.getElementById(elementId);
        const label = document.querySelector(`label[for="${elementId}"]`);
        element.style.display = 'block';
        label.style.display = 'block';
        document.getElementById('id_search_criteria').style.display = 'none';
      });

      dateHeader.textContent = 'Дата создания';
    }

    reportTypeSelect.addEventListener('change', function() {
      if (this.value === 'bugreports') {
        timeElements.forEach(elementId => {
          const element = document.getElementById(elementId);
          const label = document.querySelector(`label[for="${elementId}"]`);
          element.style.display = 'block';
          label.style.display = 'block';
        });

        [runtimeElements, searchElements].forEach(elements => {
          elements.forEach(elementId => {
            const element = document.getElementById(elementId);
            const label = document.querySelector(`label[for="${elementId}"]`);
            element.style.display = 'none';
            label.style.display = 'none';
          });
        });

        dateHeader.textContent = 'Дата создания';
      } else {
        [runtimeElements, timeElements, searchElements].forEach(elements => {
          elements.forEach(elementId => {
            const element = document.getElementById(elementId);
            const label = document.querySelector(`label[for="${elementId}"]`);
            element.style.display = 'none';
            label.style.display = 'none';
          });
        });

        if (this.value === 'testcases') {
          [runtimeElements, searchElements].forEach(elements => {
            elements.forEach(elementId => {
              const element = document.getElementById(elementId);
              const label = document.querySelector(`label[for="${elementId}"]`);
              element.style.display = 'block';
              label.style.display = 'block';
            });
          });
        } else {
          timeElements.forEach(elementId => {
            const element = document.getElementById(elementId);
            const label = document.querySelector(`label[for="${elementId}"]`);
            element.style.display = 'block';
            label.style.display = 'block';
          });
        }

        dateHeader.textContent = 'Дата прохождения';
      }
    });
  });
</script>

{% endblock lists %}
