{% extends "main/index.html" %}

{% block lists %}
<a class="createproj create" href="/bugreports/new">Создать баг репорт</a>
<div>   
    <table class="projectlist" border="0" cellpadding="8" cellspacing="3">
        <thead>
            <td> </td>
            <td>ID</td>
            <td style="width: 80px;">Название</td>
            <td style="width: 150px;">Приоритет</td>
            <td style="width: 100px;">Статус</td>
            <td style="width: 150px;">Дата создания</td>
            <td style="width: 250px;">Автор</td>
            <td style="width: 250px;">Описание</td>
            <td style="width: 100px;">Проект</td>
            <td>ID кейсов</td>
            <td>Действия</td>
        </thead>
        {% for bugreport in bugreports %}
        <tbody>
            <td><input type="checkbox" class="pick" name="pick" value="{{ testcase.id }}"></td>
            <td class="clicking" onclick="location.href = '{{ bugreport.bug_id }}/edit/';" style="cursor:pointer; transition: background-color 0.3s ease;">{{ bugreport.bug_id }}</td>
            <td class="name">{{ bugreport.name }}</td>
            <td>{{ bugreport.priority }}</td>
            <td>{{ bugreport.status }}</td>
            <td>{{ bugreport.creation_date|date:"j M Y" }}</td>
            <td>{{ bugreport.id }}</td>
            <td>{{ bugreport.description }}</td>
            <td>{{ bugreport.project }}</td>
            <td>{{ bugreport.testcase_id }}</td>
            <td class="createproj edit" data-menu-target="project-menu-{{ bugreport.bug_id }}">...</td>
        </tbody>
        <div id="project-menu-{{ bugreport.bug_id }}" class="context-menu" style="display: none;">
            <input type="submit" class="edit-link" onclick="location.href = '/bugreports/{{ bugreport.bug_id }}/edit/'" value="Редактировать" data-testcase-id="{{ bugreport.bug_id }}">
            <input type="submit" class="delete-link" value="Удалить" data-testcase-id="{{ bugreport.bug_id }}">
        </div>
        {% endfor %}
</div>
<form id="searchForm">
    <input type="text" id="searchInput" placeholder="Поиск репорта по названию..." oninput="searchProjects(event)">
</form>


<div id="password-form" style="display:none;">
    <form id="delete-form" method="post">
      {% csrf_token %}
      <label for="password">Введите пароль для подтверждения удаления:</label><br>
      <input type="password" id="password" name="password"><br>
      <input type="submit" value="Удалить">
      <a class="close-red" href="/bugreports">Закрыть</a>
    </form>
</div>
{% endblock lists %}