{% extends "main/index.html" %}

{% block lists %}
<table class="projectlist" border="0" cellpading="8" cellspacing="3">
    <thead>
        <td> </td>
        <td>ID</td>
        <td style="width: 550px;">Название</td>
    </thead>
    {% for caseset in casesets %}
        <thead>
            <td><input type="checkbox" class="pick" name="pick"></td>
            <td>{{ caseset.set_id }}</td>
            <td>{{ caseset.name }}</td>
            <td class="createproj edit" data-menu-target="project-menu">...</td>
        </thead>
    {% endfor %}

<a class="createproj" href="/casesets/new">Создать набор кейсов</a>

<div id="project-menu" class="context-menu" style="display: none;">
    <a href="#">Редактировать</a>
    <a href="#">Удалить</a>
</div>
{% endblock lists %}