{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Создание нового тесткейса</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body style="display: block;">
    <div class="project-form">
        <form method="post">
            {% block content %}
            <h2>Создание нового тесткейса</h2>
            <hr size=1 color=#ccc>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Создать">
                <a class="close-red" href="http://127.0.0.1:8000/testcases/">Закрыть</a>
            {% endblock %}
        </form>
    </div>
</body>
