{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Редактирование тесткейса</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body style="display: block;">
    <div class="project-form">
        <form method="post" action="{% url 'edit_testcase' pk=object.pk %}">
            <h2>Редактирование тесткейса</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сохранить">
            <a class="close-red" href="http://127.0.0.1:8000/testcases/">Закрыть</a>
        </form>
    </div>
</body>
</html>

