{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <!-- css connecting -->
    <link rel="stylesheet" type="text/css" href="{% static "/css/main.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <ul>
        <li><a href="/projects">Проекты</a></li>
        <li><a href="/testcases">Тест кейсы</a></li>
        <li><a href="/testsets">Тестовые наборы</a></li>
        <li><a href="/bugreports">Баг репорты</a></li>
        <li><a href="/casesets">Наборы кейсов</a></li>
        <li>
                <div class="dropdown">
                <button class="active dropbtn">{{ user.username }}</button>
                <div class="dropdown-content">
                    <a href="/logout">Выйти</a>
                    <a href="/accounts/password_change/">Поменять пароль</a>
                </div>
            </div>
        </li>
    </ul>

    {% block lists %}Выберите раздел выше...{% endblock lists %}

    <!-- js connecting -->
    <script type="text/javascript" src="{% static "/js/main.js"%}"></script>
</body>
</html>


