{% extends "main/index.html" %}

{% block lists %}
    <table class="projectlist" border="0" cellpading="8" cellspacing="3">
        <thead>
            <td> </td>
            <td>ID</td>
            <td style="width: 450px;">Название</td>
            <td style="width: 450px;">Описание</td>
            <td>Действия</td>
        </thead>
        {% for project in projects %}
        <thead>
            <td><input type="checkbox" class="pick" name="pick"></td>
            <td>{{ project.project_id }}</td>
            <td>{{ project.project_name }}</td>
            <td>{{ project.description }}</td>
            <td class="createproj edit" data-menu-target="project-menu">...</td>
        </thead>
        {% endfor %}

    <a class="createproj" href="/projects/new">Создать проект</a>

    <div id="project-menu" class="context-menu" style="display: none;">
        <a href="#">Редактировать</a>
        <a href="#">Удалить</a>
    </div>
{% endblock lists %}