{% extends "main/index.html" %}

{% block lists %}
<table class="projectlist" border="0" cellpading="8" cellspacing="3">
    <thead>
        <td>ID</td>
        <td style="width: 250px;">Название</td>
        <td style="width: 150px;">Приоритет</td>
        <td style="width: 100px;">Тип кейса</td>
        <td style="width: 100px;">Дата создания</td>
        <td style="width: 450px;">Автор</td>
        <td>Проект</td>
    </thead>

<a class="createtc" href="/testcases/new">Создать кейс</a>
<form id="searchForm">
    <input type="text" id="searchInput" placeholder="Поиск кейса по названию...">
</form>

<div id="project-menu" class="context-menu" style="display: none;">
    <a href="#">Редактировать</a>
    <a href="#">Удалить</a>
</div>
{% endblock lists %}