{% extends "main/index.html" %}

{% block lists %}

<style>
    .testsets {
      font-weight: bold;
    }
  </style>

<a class="createproj create" href="/testsets/new">Создать набор</a>

<div>
    <table class="projectlist" border="0" cellpadding="8" cellspacing="3">
        <thead>
            <td> </td>
            <td style="width: 180px;">ID</td>
            <td style="width: 1150px;">Название</td>
            <td>Действия</td>
        </thead>
        {% for testset in testsets %}
            <tbody>
                <td><input type="checkbox" class="pick" name="pick" value="{{ testcase.id }}"></td>
                <td class="clicking" onclick="location.href = '{{ testset.testset_id }}';" style="cursor:pointer; transition: background-color 0.3s ease;">{{ testset.testset_id }}</td>
                <td class="name">{{ testset.testset_name }}</td>
                <td class="createproj edit" data-menu-target="project-menu-{{ testset.testset_id }}">...</td>
            </tbody>
            <div id="project-menu-{{ testset.testset_id }}" class="context-menu" style="display: none;">
                <input type="submit" class="edit-link" onclick="location.href = '/testsets/{{ testset.testset_id }}/edit/'" value="Редактировать" data-testcase-id="{{ testcase.testcase_id }}">
                <input type="submit" class="delete-link" value="Удалить" data-testcase-id="{{ testset.testset_id }}">
            </div>
        {% endfor %}
</div>
<form id="searchForm">
    <input type="text" id="searchInput" placeholder="Поиск тестового набора по названию..." oninput="searchProjects(event)">
</form>

<div id="password-form" style="display:none;">
    <form id="delete-form" method="post">
      {% csrf_token %}
      <label for="password">Введите пароль для подтверждения удаления:</label><br>
      <input type="password" id="password" name="password"><br>
      <input type="submit" value="Удалить">
      <a class="close-red" href="/testsets">Закрыть</a>
    </form>
</div>
<script>
    document.querySelector('#delete-form').addEventListener('submit', function(e) {
        e.preventDefault();
    
        var testcase_id = this.dataset.testcaseId;
    
        var csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
    
        var formData = new FormData();
        formData.append('password', document.querySelector('#password').value);
        formData.append('csrfmiddlewaretoken', csrfToken);
    
        fetch('/testsets/delete/' + testcase_id + '/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
            document.querySelector('#password-form').style.display = 'none';
    
            var rowToRemove = document.querySelector('tr[data-testcase-id="' + this.dataset.testcaseId + '"]');
            rowToRemove.parentNode.removeChild(rowToRemove);
            } else {
            alert(data.error);
            }
        })
        .catch(error => {
            location.reload();
        });
        });
</script>
{% endblock lists %}