{% extends "main/index.html" %}

{% block lists %}
<table class="projectlist" border="0" cellpading="8" cellspacing="3">
    <thead>
        <td> </td>
        <td>ID</td>
        <td style="width: 550px;">Статус</td>
        <td>Время прохождения</td>
    </thead>
    {% for testset in testsets %}
        <thead>
            <td><input type="checkbox" class="pick" name="pick" value="{{ testcase.id }}"></td>
            <td>{{ testset.testset_id }}</td>
            <td>{{ testset.case_status }}</td>
            <td>{{ testset.runtime }}</td>
            <td class="createproj edit" data-menu-target="project-menu">...</td>
        </thead>
    {% endfor %}

<a class="createproj" href="/testsets/new">Создать набор</a>

<div id="project-menu" class="context-menu" style="display: none;">
    <a href="#">Редактировать</a>
    <a href="#">Удалить</a>
</div>
{% endblock lists %}